nav.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-color);
}
nav .container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  gap: 3rem;
  li a {
    color: var(--main-text-color);
  }
  li a:hover {
    color: rgb(255 166 163);
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: var(--main-color);
  }
  .actions {
    gap: 2rem;
  }
  .navbar-toggler {
    border: none;
    background: var(--secondary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 15px;
    padding: 0px;
    color: white;
  }
}
